.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  /* background: rgb(147, 148, 148);
  background: linear-gradient(
    90deg,
    rgba(114, 153, 153) 0%,
    rgba(167, 221, 226, 1) 100%
  ); */
  background-image: url(https://us.123rf.com/450wm/katiaj/katiaj1509/katiaj150900526/62622146-white-paper-watercolor-seamless-texture.jpg?ver=6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginAvatar {
  height: 50px;
}

.smallLoginAvatar {
  height: 30px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    "none header logInfo"
    ". nav ."
    ". mainContent .";
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
}
.logInfo {
  /* align-self: flex-end; */
  grid-area: logInfo;
}

.header {
  /* flex-basis: 80%; */
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.mainContent {
  grid-area: mainContent;
}

.homePage {
  grid-area: mainContent;
}

.articlesPage {
  grid-area: mainContent;
}
.singleArticlePage {
  grid-area: mainContent;
}

.topicList {
  grid-area: mainContent;
}

.articleCard {
  align-self: stretch;
  border-style: inset;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentCard {
  border-style: inset;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.397);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}

.downvoteClicked {
  font-size: large;
  margin: 10px;
  background-color: rgba(241, 81, 81, 0.89);
}

.upvoteClicked {
  font-size: large;
  margin: 10px;
  background-color: rgba(65, 190, 65, 0.835);
}

.voteBtn {
  font-size: large;
  margin: 10px;
}

.votingSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.votingBtns {
  display: flex;
  flex-direction: column;
}

.loadingElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentAndVotes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.commentDelBtn {
  align-self: flex-end;
}
